/* zorros general classes */

.zorros_right{
	text-align:right;
}
.zorros_center{
	text-align:center;
}
.zorros_left{
	text-align:left;
}
.zorros_block{
	display:block;
}
.zorros_white{
	color:white;
}
.zorros_bottom{
	vertical-align:bottom;
}
.zorros_top{
	vertical-align:top;
}